-if @options[:widget][:model]
  %h5=@evt_test
  %table{:id=>@options[:template][:id],:class=>"display dataTable"}<>
    -if @options[:template][:header]
      %thead<>
        =render({:state=>:head_foot},@options,:header);
    %tbody<>
      -if !@options[:plugin][:sAjaxSource] and !@options[:plugin][:aaData]
        -@options[:widget][:datasource].call().each do |item|
          %tr<>
            -item.attributes.each do |key,value|
              %td<>=value
    -if @options[:template][:footer]
      %tfoot<>
        =render({:state=>:head_foot},@options,:footer);

  -if !@options[:params][:format]
    :javascript
      postInit(function() {
        #{@init_datatable_js}
      });
