/default apotomo-datatable view
-if @merged_options[:widget][:model]
  %table{:id=>@merged_options[:template][:id],:class=>"display dataTable"}<>
    -if @merged_options[:template][:header]
      %thead<>
        =render({:state=>:head_foot},@merged_options,:header);
    %tbody<>
      -if !@merged_options[:plugin][:sAjaxSource] and !@merged_options[:plugin][:aaData]
        -@merged_options[:widget][:datasource].call().each do |item|
          %tr<>
            -item.attributes.each do |key,value|
              -if !@merged_options[:template][:excluded_columns].include?(key.to_sym) or @merged_options[:template][:included_columns].include?(key.to_sym)
                %td<>=value
    -if @merged_options[:template][:footer]
      %tfoot<>
        =render({:state=>:head_foot},@merged_options,:footer);
  -if !@merged_options[:params][:format]
    :javascript
      postInit(function() {
        #{@init_datatable_js}
      });
    -"#{@merged_options[:plugin].inspect}"
-else
  ="No Model Defined"

